/*  ШРИФТЫ  */

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "gilroy";

  src: local("gilroylight"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "gilroy";

  src: local("gilroyextrabold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

/*  ОБЩАЯ СТИЛИЗАЦИЯ  */

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  min-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hiden,
input[type="radio"].visually-hiden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*  <header>  */

.container {
  width: 1160px;
  margin: auto;
}

.main-navigation {
  margin-bottom: 65px;
  padding: 0 60px;

  background: linear-gradient(#ffffff 40px, #f7e296 40px);
  border-bottom: 1px solid transparent;
}

.main-navigation a {
  color: rgba(0, 0, 0, 1);
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-bottom: 26px;
  padding-top: 21px;
}

.top-menu,
.bottom-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.bottom-menu {
  margin-bottom: 50px;
}

.search {
  position: relative;
  width: 440px;
}

.search img {
  width: 16px;
  height: 16px;
}

.search label {
  position: relative;
  margin-left: 38px;
}

.search label::before {
  content: "";

  position: absolute;
  top: 3px;
  left: -34px;
  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search input {
  margin-bottom: 15px;

  letter-spacing: 0.2px;
  color: #000000;

  background-color: #f7e296;
  border: none;
}

.search input:focus {
  outline: none;
}

.search input:focus + .search {
  border-bottom: 2px solid black;
}

.search input::placeholder {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.search input:hover::placeholder,
.search input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__button {
  position: absolute;
  top: -9px;
  right: 0;
  margin: 0;
  padding: 14px 17px;

  text-align: center;
  vertical-align: middle;
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
}

.search__button:hover,
.search__button:focus {
  color: rgba(255, 255, 255, 1);

  background-color: #000000;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search__underline {
  position: absolute;
}

.search input:focus ~ .search__underline,
.search__button:focus ~ .search__underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;

  background-color: black;
}

.user-navigation,
.site-navigation,
.user-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation,
.site-navigation {
  display: flex;
  width: 500px;
}

.user-navigation__link:first-child {
  margin: 0;
  padding: 0;

  position: relative;
  margin-left: 26px;
  margin-right: auto;
}

.user-navigation__link:first-child::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -26px;
  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation__link:nth-child(2) {
  position: relative;
}

.user-navigation__link:nth-child(2)::before {
  content: "";

  position: absolute;
  top: 11px;
  left: -19px;
  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation__link:last-child {
  position: relative;

  margin-left: 63px;
}

.user-navigation__link:last-child::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -22px;
  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation__link:first-child {
  margin-right: 35px;
}

.site-navigation__link:last-child{
  margin-left: auto;
  margin-right: -4px;
}

.logout a {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a,
.user-menu a {
  font: inherit;
  letter-spacing: 0.2px;
}

.catalogue-button,
.site-navigation a {
  font-family: 'gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  vertical-align: top;
  color: rgba(0, 0, 0, 1);
}

.catalogue-button {
  position: relative;
}

.catalogue-button::after {
  content: "";

  position: absolute;
  top: 4px;
  right: -27px;
  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.catalogue {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalogue a {
  font: inherit;
  line-height: 36px;
  letter-spacing: 0.2px;
}

.site-navigation {
  list-style: none;
}

/*  <main>  */

.index-columns {
  display: flex;
  justify-content: space-between;
}

.page-title,
.section-header {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  font-family: 'gilroy', Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #000000;
}

.inner-page .page-title {
  margin-bottom: 35px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 475px;
  height: 513px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 560px;
  height: 513px;
}

.about .section-header,
.contacts .section-header {
  position: relative;
}

.about .section-header::before,
.contacts .section-header::before {
  content: "";

  position: absolute;
  top: -52px;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about p,
.contacts p {
  margin: 0;
  margin-bottom: 30px;

  color: #464646;
}

.contacts p {
  margin-bottom: 40px;
}

.about p:last-of-type,
.contacts p:last-of-type {
  margin-bottom: 67px;
}

.about .button,
.contacts .button {
  margin-top: auto;
}

.delivery {
  margin: 0;
  padding: 0;

  font-family: 'gilroy', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;

  list-style: none;
}

.delivery__item {
  position: relative;

  margin-left: 36px;
}

.delivery__item::before {
  content: "";

  position: absolute;
  top: 16px;
  left: -34px;
  width: 8px;
  height: 8px;

  background-color: #e5e5e5;
  border-radius: 50%;
}

.delivery__item::after {
  content: "";

  position: absolute;
  top: 18px;
  left: -32px;
  width: 4px;
  height: 4px;

  background-color: #ffffff;
  border-radius: 50%;
}

.button {
  width: 264px;
  margin: 0;
  padding: 0;

  font-family: 'gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);

  background: linear-gradient(#ffffff 33%, #f0c52e 33%, #f0c52e 66%, #ffffff 66% );
  border: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*  СЕТКА КАТАЛОГА  */
.catalogue-columns {
  display: flex;
}

.inner-wrapper-left {

  background-color: #efefef;
}

/* ФИЛЬТР */

.filter {
  background-color: #efefef;
}

.filter__form {
  width: 330px;

  font: inherit;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #000000;
}

.filter__form fieldset {
  border: none;
}

.filter__form legend {
  font-family: 'gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.filter__list {
  list-style: none;
}

.filter__list input:disabled {
  opacity: 0.25;
}

.filter__list input:disabled + label {
  color: #a6a6a6;
}

/*  СПИСОК ТОВАРОВ  */

.goods {
  width: 760px;
  margin-left: 70px;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item-card {
  width: 360px;
}


.item-card__name a {
  font-family: 'gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 1);
}

.item-card__name a:hover,
.item-card__name a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.item-card__name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-card__image {
  background-color: #eeeeee;
}

.item-card__price {
  font-family: 'gilroy', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #464646;
}

.compare {
  font: inherit;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.compare:hover,
.compare:focus {
  color: rgba(0, 0, 0, 1);
}

.compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.item-overlay {
  background-color: rgba(238, 238, 238, 0.7);
}

.item-overlay a {
  z-index: 10;
}

/*  <footer>  */

.main-footer {
  margin-top: 90px;

  color: #ffffff;

  background-color: #464646;
  border-top: 1px solid transparent;
}

.top-footer-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
  margin-bottom: 29px;
}

.main-logo--footer {
  margin: 0;
  padding: 0;
  padding-top: 6px;
}

.main-logo--footer path {
  fill: #f0c52e;
}

.user-navigation--footer {
  justify-content: space-between;
  width: 300px;
  margin-right: -2px;
  padding-top: -6px;
}

.user-navigation--footer .user-navigation__link {
  margin: 0;
  padding: 0;
}

.user-navigation--footer a {
  line-height: 36px;
}

.main-footer .user-navigation__link:first-child {
  margin: 0;
}

.user-navigation--footer a,
.user-menu--footer a {
  color: rgba(255, 255, 255, 0.7);
}

.user-navigation--footer a:hover,
.user-menu--footer a:hover,
.user-navigation--footer a:focus,
.user-menu--footer a:focus {
  color: rgba(255, 255, 255, 1);
}

.user-navigation--footer a:active,
.user-menu--footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.logout--footer a {
  color: rgba(255, 255, 255, 0.3);
}

.logout--footer a:hover,
.logout--footer a:focus {
  color: rgba(255, 255, 255, 0.7);
}

.logout--footer a:active {
  color: rgba(238, 238, 238, 0.1);
}

.middle-footer-menu {
  display: flex;
  margin-bottom: 56px;
}

.middle-footer-menu p {
  width: 240px;
  margin: 0;
  padding: 0;

  font: inherit;
  color: #ffffff;
}

.middle-footer-menu p:last-child {
  text-align: right;
}

.site-navigation--footer {
  justify-content: space-between;
  width: 427px;
  margin: auto;
  margin-top: 6px;
}

.site-navigation--footer .site-navigation__link {
  margin: 0;
}

.middle-footer-menu .site-navigation__link:last-child {
  margin: 0;
}

.site-navigation--footer a {
  color: rgba(255, 255, 255, 1);
}

.site-navigation--footer a:hover,
.site-navigation--footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.site-navigation--footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.bottom-footer-menu {
  display: flex;
}

.yellow-line {
  display: block;
  width: 80px;
  height: 7px;
  margin-top: 15px;

  background-color: #f0c52e;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: auto;
  margin-bottom: 65px;
  margin-top: 2px;
  padding: 0;

  list-style: none;
}

.social-icons a {
  opacity: 0.3;
}

.social-icons a:hover,
.social-icons a:focus {
  opacity: 0.6;
}

.social-icons a:active {
  opacity: 0.1;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

.academy-logo {
  width: 27px;
  height: 35px;
  margin-left: 53px;
}

/* МОДАЛЬНЫЕ ОКНА */

.modal {
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.write-us__form input {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #464646;

  background-color: #f2f2f2;
  border: 3px solid transparent;
}

.write-us__form input::placeholder {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.write-us__form input:hover {
  background-color: #eaeaea;
}

.write-us__form input:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;

  outline: none;
}

.write-us__form input:invalid {
  background-color: #f6dada;
}

.write-us__form label {
  font-family: 'gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}
