/*  Шрифты  */

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gilroy";

  src: local("gilroylight"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("gilroyextrabold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

/*  Общая стилизация  */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*  Контейнер-центровщик  */

.container {
  width: 1160px;
  margin: auto;
}

/*  Визуальное скрытие элементов  */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*  <header>  */

.main-header {
  position: relative;

  margin-top: 40px;
  padding: 34px 0 164px 0;

  background: rgb(247, 226, 150);
}

.main-header--inner {
  padding: 34px 0 50px 0;
  margin-bottom: 37px;
}

.main-navigation {
  padding: 0 60px;
}

/*  Лого  */

.main-logo {
  position: absolute;
  left: 59px;
  top: -19px;

  display: block;
  width: 163px;
  height: 35px;
}

.main-logo:focus,
.main-logo:hover {
  opacity: 0.6;
  transition: opacity .3s;
}

.main-logo:active {
  opacity: 0.3;
}

/*  Верхняя часть <header>  */

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 28px;
}

/*  Форма поиска  */

.search {
  position: relative;

  width: 440px;
}

.search::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search__input {
  width: 357px;
  padding: 9px 0 9px 38px;
  padding-left: 38px;

  font: inherit;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 1);

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

:-ms-fullscreen, :root .search__input { height: 50px; } /*Фикс для IE11*/

.search__input:focus {
  border-bottom-color: rgb(0, 0, 0);

  transition: border-bottom-color .7s;
  outline: none;
}

.search__input::placeholder {
  font: inherit;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);
}

.search__input:hover::placeholder,
.search__input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
  transition: color .3s;
}

.search__button {
  position: absolute;
  z-index: -1;
  top: 1px;
  right: 0;

  padding: 14px 17px;

  text-align: center;
  vertical-align: middle;
  color: rgb(0, 0, 0);

  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);

  outline: none;
  opacity: 0;
}

.search__input:focus ~ .search__button,
.search__button:focus {
  z-index: 1;

  opacity: 1;
}

.search__button:hover,
.search__button:focus {
  visibility: visible;

  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

/*  Меню  */

.user-navigation,
.site-navigation,
.user-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation,
.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.user-menu--header {
  margin-right: auto;
}

.user-menu__list {
  display: flex;
  flex-wrap: wrap;
}

.user-menu__login,
.user-navigation__link {
  font: inherit;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 1);
}

.user-menu__logout {
  margin-left: 20px;

  font: inherit;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__login:hover,
.user-menu__login:focus,
.user-navigation__link--header:hover,
.user-navigation__link--header:focus {
  opacity: 0.6;
  transition: opacity .3s;
}

.user-menu__logout:hover,
.user-menu__logout:focus {
  color: rgba(0, 0, 0, 1);
  transition: color .3s;
}

.user-menu__login:active,
.user-navigation__link--header:active {
  opacity: 0.3;
}

.user-menu__logout:active {
  color: rgba(0, 0, 0, 0.1);
}

.user-menu span {
  padding: 0;
  margin-left: 9px;
}

.user-navigation__link span {
  margin-left: 7px;
}



.user-navigation__link--header:last-child {
  margin-left: 40px;
}

/*  Нижняя часть шапки сайта  */

.catalogue-button,
.site-navigation__link a {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  vertical-align: top;
  color: rgba(0, 0, 0, 1);
}

.site-navigation__link {
  line-height: 24px;
}

.catalogue-button:hover,
.catalogue-button:focus,
.site-navigation__link a:hover,
.site-navigation__link a:focus {
  color: rgba(0, 0, 0, 0.6);
  transition: color .3s;
}

.catalogue-button:active,
.site-navigation__link a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*  Выравнивание ссылок в навигации по сайту  */

.site-navigation__link:first-child {
  margin-right: 35px;
}

.site-navigation__link:last-child{
  margin-left: auto;
}

/*  Нижняя часть <header> */

.bottom-menu {
  position: relative;

  display: flex;
  justify-content: space-between;
}

/*  Кнопка "Каталог товаров"  */

.catalogue-button {
  position: relative;
}

.catalogue-button::after {
  content: "";

  position: absolute;
  top: 4px;
  right: -27px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

/*  Выпадающее меню  */

.catalogue {
  position: absolute;
  top: 26px;
  left: 0;
  visibility: hidden;
  z-index: 99;

  display: flex;
  width: 1040px;
  margin-left: -60px;
  padding: 20px 60px 34px;

  background-color: rgb(247, 226, 150);
}

.catalogue-button:hover ~ .catalogue,
.catalogue-button:focus ~ .catalogue,
.catalogue:hover,
.catalogue:focus {
  visibility: visible;
}

.catalogue__column {
  margin: 0;
  margin-right: 20px;
  padding: 0;

  list-style: none;
}

.catalogue__column:first-child {
  width: 220px;
}

.catalogue__column:nth-child(2) {
  width: 180px;
}

.catalogue__column:last-child {
  width: 200px;
}

.catalogue__column a {
  font: inherit;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 1);
}

.catalogue__column a:hover,
.catalogue__column a:focus {
  color: rgba(0, 0, 0, 0.6);

  transition: color .3s;
}

.catalogue__column a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*  <main>  */

/*  Главный слайдер  */

.main-slider {
  position: relative;
  top: -112px;

  margin-bottom: -20px;
}

.main-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-slider__slide {
  position: relative;

  display: flex;
  justify-content: space-between;
  min-height: 500px;

  background-color: transparent;
}

.main-slider__container {
  width: 560px;

  text-align: center;
}

.main-slider__container--left {
  align-self: center;
}

.main-slider__container--right {
  padding-top: 79px;
}

.main-slider__slide--1,
.main-slider__slide--3 {
  display: none;
}

.main-slider__slide--1 img {
  width: 384px;
  height: 486px;

}

.main-slider__slide--2 img {
  vertical-align: middle;
  width: 345px;
  height: 485px;
}

.main-slider__slide--3 img {
  width: 526px;
  height: 334px;
}

.main-slider__header {
  position: relative;

  width: 400px;
  margin: 0;
  margin-bottom: 19px;

  font-family: Gilroy, Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 56px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.main-slider__header::before {
  content: "";

  position: absolute;
  top: -42px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: rgb(255, 255, 255);
}

.main-slider__description {
  width: 490px;
  margin: 0;
  margin-bottom: 43px;

  font: inherit;
  letter-spacing: 0.2px;
  text-align: left;
}

.main-slider__interactive-bar {
  display: flex;
  align-items: baseline;
  margin-bottom: 47px;
}

.main-slider__interactive-bar .button {
  width: 220px;
}

.main-slider__navigation {
  display: flex;

  margin: 0;
  margin-left: 180px;
  padding: 0;

  list-style: none;
}

.main-slider__switcher + label {
  position: relative;

  display: block;
  width: 10px;
  height: 10px;
  margin-right: 21px;

  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.main-slider__switcher:checked + label::after {
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;

  width: 2px;
  height: 2px;

  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}


.main-slider__switcher:hover + label,
.main-slider__switcher:focus + label {
  opacity: 0.6;
}

.main-slider__switcher:focus + label {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.main-slider__options-table {
  border: none;
  margin-left: -2px;
}

.table-value {
  padding-right: 74px;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.4px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.table-argument {
  padding-top: 4px;

  font: inherit;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgb(70, 70, 70);
}

.main-slider__number {
  position: absolute;
  top: -14px;
  right: 45px;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  letter-spacing: 1.8px;
  color: rgb(255, 255, 255);
}

/*  Категории  */

.categories {
  margin-bottom: 85px;
}

.categories__container {
  margin-left: -40px;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__link {
  display: block;
  width: 160px;
  margin-left: 40px;
}

.categories__link p {
  margin: 0;
}

.categories__icon {
  position: relative;

  width: 100%;
  height: 160px;
  margin-bottom: 33px;

  background-color: rgba(240, 197, 46, 0.5);
}

.categories__icon::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.categories__icon--vr::after {
  width: 97px;
  height: 55px;

  background-image: url("../img/popular-1.svg");
}

.categories__icon--monopodes::after {
  top: auto;
  bottom: 0;

  width: 86px;
  height: 117px;

  background-image: url("../img/popular-2.svg");

  transform: translate(-50%, 0);
}

.categories__icon--cameras::after {
  width: 71px;
  height: 87px;

  background-image: url("../img/popular-3.svg");
}

.categories__icon--bracers::after {
  width: 107px;
  height: 65px;

  background-image: url("../img/popular-4.svg");
}

.categories__icon--smartwatches::after {
  width: 56px;
  height: 98px;

  background-image: url("../img/popular-5.svg");
}

.categories__icon--quadrocopters::after {
  width: 132px;
  height: 69px;

  background-image: url("../img/popular-6.svg");
}

.categories__image {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.categories__image--monopodes {
  top: auto;
  bottom: 0;

  transform: translate(-50%, -0);
}

.categories__link p {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 1);
}

.categories__link:hover .categories__icon,
.categories__link:focus .categories__icon {
  background-color: rgba(240, 197, 46, 1);

  transition: background-color .8s;
}

.categories__link:active .categories__image,
.categories__link:active p,
.categories__link:active .categories__icon::after {
  opacity: 0.3;
}

/*  Услуги  */

.services {
  padding-bottom: 63px;
  margin-bottom: 55px;

  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 96px, rgb(229, 229, 229) 96px, rgb(229, 229, 229) 100%);
}

.services__container {
  display: flex;
}

.services__list {
  position: relative;
  min-width: 277px;
  min-height: 320px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  border-right: 7px solid rgb(0, 0, 0);

  list-style: none;
}

.services__tab {
  margin: 12px 0;
}

.services__tab--current {
  background-color: rgb(0, 0, 0);
}

.services__tab .button {
  width: 160px;
}

.services__tab--current .button {
  color: rgb(247, 226, 150);
}

.services__tab--current .button::before {
  background-color: transparent;
}

.services__slider {
  width: 100%;
  margin: 0;
  margin-left: 116px;
  padding: 0;

  list-style: none;
}

.services__slide {
  min-height: 196px;
  padding-top: 69px;
}

.services__slide .section-header {
  margin-bottom: 31px;
}

.services__slide--delivery {
  background-image: url("../img/delivery.svg");
  background-size: 136px 164px;
  background-repeat: no-repeat;
  background-position: top 81px right 66px;
}

.services__slide--warranty {
  background-image: url("../img/warranty.svg");
  background-size: 171px 194px;
  background-repeat: no-repeat;
  background-position: top 57px right 47px;
}

.services__slide--credit {
  background-image: url("../img/credit.svg");
  background-size: 156px 186px;
  background-repeat: no-repeat;
  background-position: top 58px right 70px;
}

.services__slide--credit,
.services__slide--warranty {
  display: none;
}

.services__description {
  margin: 0;
  padding-right: 323px;

  letter-spacing: 0.2px;
}

/*  Брэнды  */

.brands {
  margin-bottom: 105px;
}

.brands__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 40px 0;

  list-style: none;
}

.brands__link,
.brands__link img {
  width: 260px;
  height: 100px;
}

.brands__link{
  display: block;
  position: relative;
}

.brands__link::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 260px;
  height: 100px;

  background-repeat: no-repeat;
  background-position: 0 0;

  z-index: 999;
}

.brands__link--dji::after {
  background-image: url("../img/logo-1-grayscale.jpg");
}

.brands__link--sp::after {
  background-image: url("../img/logo-2-grayscale.jpg")
}

.brands__link--gopro::after {
  background-image: url("../img/logo-3-grayscale.jpg")
}

.brands__link--vive::after {
  background-image: url("../img/logo-4-grayscale.jpg")
}

.brands__link:hover::after,
.brands__link:focus::after {
  opacity: 0;
  transition: opacity .8s;
}

/*  Разделение главной на 2 колонки  */

.index-columns {
  display: flex;
  justify-content: space-between;
}

/*  Контейнер с градиентным фоном для страницы каталога  */


/*  Заголовки страниц и разделов  */

.page-title,
.section-header {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
}

.page-title {
  margin-left: 60px;
  margin-bottom: 24px;
}

/*  Хлебные крошки  */

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 46px;
  padding: 0 60px;

  list-style: none;
}

.breadcrumbs li {
  margin-right: 38px;
}

.breadcrumbs li,
.breadcrumbs a {
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
  position: relative;
}

.breadcrumbs a::after {
  content: "";

  position: absolute;
  top: 7px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);

  transition: color .2s;
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/*  Разделы "О нас" и "Контакты"  */

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 475px;
  height: 520px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 560px;
  height: 520px;
}

.about .section-header,
.contacts .section-header {
  position: relative;
}

.about .section-header::before,
.contacts .section-header::before {
  content: "";

  position: absolute;
  top: -52px;
  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0);
}

.about__description,
.contacts__description {
  margin: 0;
  margin-bottom: 30px;

  color: rgb(70, 70, 70);
}

.about__description:last-of-type {
  margin-bottom: 66px;
}

.contacts__description {
  margin-bottom: 25px;
}

.map img {
  width: 560px;
  height: 222px;
}

.about .button,
.contacts .button {
  margin-top: auto;
}

.delivery {
  margin: 0;
  padding: 0;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;

  list-style: none;
}

.delivery__item {
  position: relative;

  margin-left: 36px;
}

.delivery__item::before {
  content: "";

  position: absolute;
  top: 16px;
  left: -34px;
  width: 8px;
  height: 8px;

  background-color: rgb(229, 229, 229);
  border-radius: 50%;
}

.delivery__item::after {
  content: "";

  position: absolute;
  top: 18px;
  left: -32px;
  width: 4px;
  height: 4px;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.button {
  position: relative;
  z-index: 1;

  display: block;
  width: 260px;
  margin: 0;
  padding: 8px 0;


  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);

  background-color: transparent;
  border: none;
}

.button::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);
}

.button:hover::before,
.button:focus::before {
  height: 100%;
  transition: height .3s;
}


.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*  Фильтр  */

.filter {
  position: relative;

  background-color: rgb(239, 239, 239);
}

.filter::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;

  background-color: rgb(239, 239, 239);
}

.filter__header {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  margin-bottom: 68px;
  padding: 24px 70px 24px 60px;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);

  background-color: rgb(217, 217, 217);
}

.filter__header::before {
  content: "";

  position: absolute;
  top: 0;
  right: 330px;
  width: 100vw;
  height: 100%;

  background-color: rgb(217, 217, 217);
}

.filter__form {
  box-sizing: border-box;
  width: 330px;
  padding-left: 60px;
  padding-right: 70px;

  font: inherit;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: rgb(0, 0, 0);
}

.filter__form fieldset {
  margin: 0;
  margin-bottom: 21px;

  padding: 0;
  border: none;
}

.filter__section-header {
  margin: 0;
  margin-bottom: 18px;
  padding-top: 10px;
  width: 100%;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;

  border-top: 2px solid rgb(0, 0, 0);
}

.filter__section-header--price {
  margin-bottom: 35px;
}

.progress-bar {
  position: relative;

  width: 100%;
  height: 2px;
  margin-bottom: 8px;

  background-color: rgb(219, 219, 219);
}

.progress-bar__indicator {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 110px;
  height: 2px;

  background-color: rgb(145, 201, 47);
}

.progress-bar__toggle {
  position: absolute;
  top: -10px;
  left: -4px;

  display: block;
  width: 4px;
  height: 4px;

  background-color: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(4, 6, 6, 0.2);
}

.progress-bar__toggle:hover,
.progress-bar__toggle:focus {
  margin-top: -1px;
  margin-left: -1px;

  border-width: 9px;
}

.progress-bar__toggle:last-of-type {
  left: 110px;
}

.price-range {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.price-range label {
  margin-right: 4px;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-range input {
  width: 50px;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);

  background-color: transparent;
  border: 1px solid transparent;
}

.price-range input:hover {
  color: rgba(0, 0, 0, 1);

  transition: color .3s;
}

.price-range input:focus {
  color: rgba(0, 0, 0, 1);

  background-color: rgb(255, 255, 255);
}

.price-range input:first-of-type {
  margin-right: 20px;
}

.filter__list {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 40px;

  list-style: none;
}

.filter__list input:disabled {
  opacity: 0.25;
}

.filter__list input:disabled + label {
  color: rgb(166, 166, 166);
}

.filter__list label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter__checkbox + label::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*  Чекбокс  */

.filter__checkbox:checked + label::before {
  display: none;
}

.filter__checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*  Радиокнопка  */

.filter__radio + label::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -40px;
  width: 17px;
  height: 17px;

  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.filter__radio:checked + label::after {
  content: "";

  position: absolute;
  top: 15px;
  left: -32px;
  width: 9px;
  height: 9px;

  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

/*  Фокус чекбоксов и радиокнопок  */

.filter__checkbox:hover + label::before,
.filter__checkbox:hover + label::after,
.filter__radio:hover + label::before,
.filter__radio:hover + label::after,
.filter__radio:focus + label::before,
.filter__radio:focus + label::after {
  opacity: 0.6;
}

.filter__checkbox:focus + label::before,
.filter__checkbox:focus + label::after,
.filter__radio:focus + label::before {
  opacity: 0.6;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter .button {
  background-color: transparent;

  width: 100%;
}

/*  Список товаров  */

.sort {
  position: relative;

  display: flex;
  align-items: baseline;
  margin-bottom: 69px;

  background-color: rgb(235, 235, 235);
}


.sort::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0,.08);
}

.sort__header {
  box-sizing: border-box;
  margin: 0;
  margin-right: 55px;
  padding: 24px 0 24px 70px;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);

  background-color: rgb(235, 235, 235);
}

.sort__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__link {
  margin-right: 30px;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.sort__link--current {
  color: rgba(0, 0, 0, 1);
}

.sort__link:hover,
.sort__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort__link:active {
  color: rgba(0, 0, 0, 1);
}

.sort__list li:last-child {
  margin-left: auto;
}

.sort__order {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 41px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__order li {
  display: flex;
  align-items: center;
}

.sort__button {
  position: relative;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid rgba(0, 0, 0, 0.2);
  border-top: transparent;

  background-color: transparent;
}

.sort__button:hover,
.sort__button:focus {
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.sort__button:active,
.sort__button--current {
  border-bottom-color: rgba(0, 0, 0, 1);
}

.sort__button--down {
  transform: rotate(180deg);
}

.goods {

  box-sizing: border-box;
  width: 830px;

  background-color: rgb(255, 255, 255);
}

.goods__container {
  margin-left: 30px;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

/*  Карточка товара  */

.item-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: 40px;
  margin-bottom: 47px;
}

.item-card__wrapper {
  order: 1;

  display: flex;
  justify-content: space-between;
}

.item-card__name,
.item-card__name a {
  margin: 0;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 1);
}

.item-card__name a:hover,
.item-card__name a:focus {
  color: rgba(0, 0, 0, 0.6);
  transition: color .3s;
}

.item-card__name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-card__price {
  width: 100px;
  padding-top: 2px;

  text-align: right;
}

.item-card__image {
  position: relative;

  width: 360px;
  height: 380px;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  background-color: rgb(238, 238, 238);
}

.item-card__price {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgb(70, 70, 70);
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  visibility: hidden;
  width: 100%;
  height: 100%;

  background-color: rgba(238, 238, 238, 0.7);
}

.item-card__image:focus > .item-overlay,
.item-card__image:hover > .item-overlay {
  visibility: visible;
}

.item-overlay__container {
  position: relative;
  top: 45%;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.item-overlay .button {
  width: 200px;
  margin-bottom: 14px;
}

.compare {
  font: inherit;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.compare:hover,
.compare:focus {
  color: rgba(0, 0, 0, 1);
  transition: color .3s;
}

.compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.item-overlay {
  background-color: rgba(238, 238, 238, 0.7);
}

.item-overlay a {
  z-index: 10;
}

.paginator {
  position: relative;
  top: -14px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  margin-left: 70px;
  margin-bottom: 63px;

  background-color: rgb(235, 235, 235);
}

.paginator__link {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.paginator__link--current {
  color: rgba(0, 0, 0, 1);
}

.paginator__link:hover,
.paginator__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.paginator__link:active {
  color: rgba(0, 0, 0, 1);
}

.paginator__button {
  width: 130px;
  padding: 24px 0;

  text-align: center;
}

.paginator__button:hover,
.paginator__button:focus {
  color: rgba(0, 0, 0, 1);

  background-color: rgb(217, 217, 217);
}

.paginator__button:active {
  color: rgba(0, 0, 0, 0.3);
}


.paginator__list {
  display: flex;
  margin: 0;
  margin-left: 12px;
  padding: 0;

  list-style: none;
}

.paginator__list .paginator__link {
  margin-right: 28px;
}

.paginator__list .paginator__link--last {
  margin-right: 0;
}

/*  <footer>  */

.main-footer {
  min-width: 1200px;
  margin-top: 82px;

  color: rgb(255, 255, 255);

  background-color: rgb(70, 70, 70);
  border-top: 1px solid transparent;
}

/*  Обнуление отступа футера для страницы каталога  */

.inner-page .main-footer {
  margin-top: 0;
}

/*  Верхняя часть футера  */

.top-footer-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
  margin-bottom: 34px;
}

/*  Логотип в футере  */

.main-logo--footer {
  position: relative;
  top: 5px;
  left: 0;

  margin: 0;
  padding: 0;
}

.main-logo--footer path {
  fill: rgba(240, 197, 46, 1);
}

/*  Навигация пользователя в футере  */

.user-navigation--footer {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 600px;
}

.user-navigation--footer > li{
  margin-left: 40px;
}

.user-navigation--footer > li:first-child {
  margin-left: 0;
}

.user-menu__login--footer,
.user-navigation__link--footer {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.user-menu__logout--footer {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation--footer path {
  fill: rgba(240, 197, 46, 1);
}

.user-menu__login--footer:hover,
.user-menu__login--footer:focus,
.user-navigation__link--footer:hover,
.user-navigation__link--footer:focus {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  transition: color .3s;
}

.user-menu__logout--footer:hover,
.user-menu__logout--footer:focus {
  color: rgba(255, 255, 255, 1);
  transition: color .3s;
}

.user-menu__login--footer:hover path,
.user-menu__login--footer:focus path,
.user-navigation__link--footer:hover path,
.user-navigation__link--footer:focus path {
  fill: rgba(240, 197, 46, 0.6);
  transition: fill .3s;
}

.user-menu__login--footer:active,
.user-navigation__link--footer:active {
  opacity: 0.3;
}

.user-menu__logout--footer:active {
  color: rgba(255, 255, 255, 0.1);
}

/*  Средняя часть футера  */

.middle-footer-menu {
  display: flex;
  margin-bottom: 62px;
}

.middle-footer-menu p {
  width: 240px;
  margin: 0;
  padding: 0;

  font: inherit;
  color: rgb(255, 255, 255);
}

.middle-footer-menu p:last-child {
  text-align: right;
}

.site-navigation--footer {
  justify-content: space-around;
  width: 460px;
  margin: auto;
  margin-top: 6px;
}

.site-navigation--footer .site-navigation__link {
  margin: 0;
}

.site-navigation--footer .site-navigation__link:last-child {
  margin: 0;
}

.site-navigation--footer a {
  color: rgba(255, 255, 255, 1);
}

.site-navigation--footer a:hover,
.site-navigation--footer a:focus {
  color: rgba(255, 255, 255, 0.6);
  transition: color .3s;
}

.site-navigation--footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

/*  Нижняя часть футера  */

.bottom-footer-menu {
  display: flex;
}

/*  Жёлтая декоративная линия  */

.yellow-line {
  display: block;
  width: 80px;
  height: 7px;
  margin-top: 15px;

  background-color: rgb(240, 197, 46);
}

/*  Ссылки на соцсети  */

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: auto;
  margin-bottom: 58px;
  margin-top: 2px;
  padding: 0;

  list-style: none;
}

.social-icons a {
  opacity: 0.3;
}

.social-icons a:hover,
.social-icons a:focus {
  opacity: 0.6;
  transition: opacity .3s;
}

.social-icons a:active {
  opacity: 0.1;
}

.social-icons a {
  width: 32px;
  height: 32px;
}

/*  Логотип академии  */

.academy-logo {
  width: 27px;
  height: 35px;
  margin-left: 53px;
}

.academy-logo:hover,
.academy-logo:focus {
  opacity: 0.6;
  transition: opacity .3s;
}

.academy-logo:active {
  opacity: 0.3;
}

/*  Модальные окна  */

.modal {
  position: fixed;
  z-index: 9001;

  display: none;

  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-overlay {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: transparent;
}

.modal-overlay--show {
  display: block;
}

.write-us {
  top: 120px;
  left: 50%;

  box-sizing: border-box;
  width: 960px;
  margin-left: -480px;
  padding: 90px 100px 70px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;

  cursor: pointer;
  opacity: 0.5;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.write-us__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us__form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;

  width: 360px;
}

.write-us__form p:last-of-type {
  width: 100%;
}

.write-us__form label {
  margin-bottom: 7px;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.write-us__form input,
.write-us__form textarea {
  padding: 14px 20px;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: rgb(70, 70, 70);

  background-color: rgb(242,242,242);
  border: 3px solid transparent;
}

.write-us__form input::placeholder,
.write-us__form textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-us__form input:hover,
.write-us__form textarea:hover {
  background-color: rgb(234, 234, 234);
}

.write-us__form input:focus,
.write-us__form textarea:focus {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgba(240, 197, 46, 1);

  outline: none;
}

.write-us__form input:invalid,
.write-us__form textarea:invalid {
  background-color: rgb(246, 218, 218);
}

.write-us__form textarea {
  min-height: 110px;
  padding: 20px 20px;
}

.write-us__form button {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*  Модальная карта  */

.modal-map {
  top: 120px;
  left: 50%;

  width: 960px;
  margin-left: -480px;
}

.modal-map p {
  width: 960px;
  height: 559px;
  margin: 0;
}


.modal--show {
  display: block;
  animation-name: zoomin;
  animation-duration: .4s;
}


@keyframes zoomin {
  0%  {transform: scale(0);  }
  50% {transform: scale(1);}
}

.modal--error {
  animation-name: shake;
  animation-duration: .4s;
}

@keyframes shake {
  0%, 100%                  {transform: translateX(0);      }
  10%, 30%, 50%, 70%, 90%   {transform: translateX(-10px);  }
  20%, 40%, 60%, 80%        {transform: translateX(10px);   }
}
